vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Apr 2015 22:20:38 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|hyper_copy(1).html dropdown\\ -\\ Copy.html dropdown-copy.html
vti_author:SR|YELLOW-KING\\SIMANTA BURAGOHAIN
vti_modifiedby:SR|YELLOW-KING\\SIMANTA BURAGOHAIN
vti_timecreated:TR|11 Apr 2015 22:20:38 -0000
vti_cacheddtm:TX|11 Apr 2015 22:20:38 -0000
vti_filesize:IR|6474
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css S|../fonts/fontawesome.eot S|../fonts/fontawesome.eot S|../fonts/fontawesome.svg S|../fonts/fontawesome.woff S|../fonts/fontawesome.ttf
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css FSUS|fonts/fontawesome.eot FSUS|fonts/fontawesome.eot FSUS|fonts/fontawesome.svg FSUS|fonts/fontawesome.woff FSUS|fonts/fontawesome.ttf
