vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Apr 2015 19:50:51 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|itenary1.html
vti_author:SR|YELLOW-KING\\SIMANTA BURAGOHAIN
vti_modifiedby:SR|YELLOW-KING\\SIMANTA BURAGOHAIN
vti_timecreated:TR|11 Apr 2015 19:50:51 -0000
vti_cacheddtm:TX|11 Apr 2015 19:50:51 -0000
vti_filesize:IR|3706
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css S|../fonts/bpicons/bpicons.eot S|../fonts/bpicons/bpicons.eot S|../fonts/bpicons/bpicons.woff S|../fonts/bpicons/bpicons.ttf S|../fonts/bpicons/bpicons.svg
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css NSUS|fonts/bpicons/bpicons.eot NSUS|fonts/bpicons/bpicons.eot NSUS|fonts/bpicons/bpicons.woff NSUS|fonts/bpicons/bpicons.ttf NSUS|fonts/bpicons/bpicons.svg
